.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
}

.header {
    background-color: black;
    color: white;
    text-align: start;
    
}

.header {
    padding: 20px;
}

.mainBody{
    display: flex;
    flex: 1;
    height: calc(100vh - 40px); /* Subtract header and footer height */
    color: black;
}

.leftSide {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 60px;
    flex: 1;
}



.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 1;
    background-color: #FFFBEE;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.highlight {
    color: #f3c623;
}

.description {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 500px;
}

.illustration {
    width: 200px;
    height: 200px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.formSubtitle {
    font-size: 1rem;
    margin-bottom: 20px;
}

.form {
    width: 100%; /* Fix IE11 issue. */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitButton {
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.submitButton:hover {
    background-color: #f3c623;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .mainBody {
        flex-direction: column;
    }
    .leftSide {
        order: 1; /* Change order to move leftSide to top */
    }
    .rightSide {
        order: 2; /* Change order to move rightSide to bottom */
    }

    .description {
        font-size: 1rem;
        margin-bottom: 20px;
        width: 500px;
    }

    .description {
        width: 100%; /* Make the description full width on smaller screens */
        font-size: 0.9rem; /* Optionally decrease font size for better readability */
        padding: 0 20px; /* Add padding for better spacing */
    }
}
